*{
   box-sizing: border-box;
}

image {
  display: block;
  width: 100%;
}

p {
  color: grey;
}

.moma-container{
	width: 768px;
	margin: 0 auto;
  border: 10px solid #ddd;
  display: flex;
}

.major-column {
  flex-basis: 33.3333333%;
  border-right: 10px solid #ddd;
}
  .major-column:last-child {
    border: 0px;
  }

.info-section {
  flex-direction: column;
  display: flex;
}

.bottom-column  {
  display: flex;
}

.thank-you {
  flex-basis: 70%;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.image {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

body{
	font-family: "Helvetica Neue", "Helvetica", "serif";
}
/*General site styles + general classes*/
